
if pramas ==
return <h1>Silly question, get dressed and go to work!</h1>
elsif params ==
return <h1>Great!</h1>
else
return <h1>I don't care, get dressed and go to work!</h1>




<p><%= link_to "Ask a question", ask_path %></p>

