// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #3eb6b1;
}

form {
  text-align: center;
  padding-top: 16px;
}

h1, p {
  text-align: center;
  padding-top: 16px;
}

#box {
  color: white;
}
